<div id="<%= dom_id listing %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= listing.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address:</strong>
    <%= listing.address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= listing.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Images:</strong>
    <% listing.images.each do |image| %>
      <div><%= link_to image.filename, image, class: "text-gray-700 underline hover:no-underline" %></div>
    <% end %>
  </div>
</div>
